@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
  background-color: #161616;
  color: #d1d1d1;
}

.maximum_container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
}

header .hdr_menu_contr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  opacity: 0.9;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
header .hdr_menu_contr::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #6d6d6d;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
header .hdr_menu_contr:hover::after {
  width: 100%;
}
header .hdr_menu_contr .logo_contr {
  margin-top: 5px;
  text-align: center;
}
header .hdr_menu_contr .logo_contr .logo_name {
  opacity: 0.7;
  font-size: 16px;
}
header .hdr_menu_contr .logo_contr img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
header .hdr_menu_contr .hdr_stc_menubar ul li {
  display: inline-block;
}
header .hdr_menu_contr .hdr_stc_menubar ul li a {
  padding: 31.7px 20px;
  font-size: 15px;
  text-shadow: 0 0 10px #000;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}
header .hdr_menu_contr .hdr_stc_menubar ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #d1d1d1;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
}
header .hdr_menu_contr .hdr_stc_menubar ul li a:hover::after {
  width: 100%;
}
@media screen and (max-width: 625px) {
  header .hdr_menu_contr .hdr_stc_menubar ul li a {
    display: none;
  }
}
header .hdr_menu_contr .login_contr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .hdr_menu_contr .login_contr a {
  padding: 32.5px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}
header .hdr_menu_contr .login_contr a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #d1d1d1;
  position: absolute;
  top: 99%;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
}
header .hdr_menu_contr .login_contr a:hover::after {
  width: 100%;
}
header .hdr_menu_contr .login_contr .mobile_version_bars_icon {
  font-size: 26px;
  cursor: pointer;
  padding: 25px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
header .hdr_menu_contr .login_contr .mobile_version_bars_icon:hover {
  color: #a3a3a3;
}
@media screen and (max-width: 295px) {
  header .hdr_menu_contr .login_contr a {
    display: none;
  }
}
header .hdr_menu_contr .mobile_version_bars_icon {
  display: none;
}
@media screen and (max-width: 625px) {
  header .hdr_menu_contr .mobile_version_bars_icon {
    display: block;
  }
}

.about_section .about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 150px;
}
.about_section .about_container .about_left_image {
  min-width: 645px;
}
.about_section .about_container .about_left_image img {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
@media screen and (max-width: 1217px) {
  .about_section .about_container .about_left_image img {
    max-width: 645px;
  }
}
@media screen and (max-width: 675px) {
  .about_section .about_container .about_left_image,
  .about_section .about_container img {
    min-width: 250px;
  }
}
@media screen and (max-width: 281px) {
  .about_section .about_container .about_left_image,
  .about_section .about_container img {
    min-width: 170px;
  }
}
.about_section .about_container .about_ttl {
  font-weight: 700;
  text-align: center;
  font-size: 25px;
}
.about_section .about_container .about_info_text {
  margin-top: 20px;
  margin-left: 25px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 17px;
}
@media screen and (max-width: 1260px) {
  .about_section .about_container .about_info_text {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  .about_section .about_container .about_info_text {
    font-size: 13px;
    margin-left: 0;
  }
}
.about_section .about_container .about_stc_contact {
  margin-top: 20px;
}
.about_section .about_container .about_stc_contact .abt_stc_cntct1,
.about_section .about_container .about_stc_contact .abt_stc_cntct2 {
  margin: 0 20px;
  font-size: 18px;
}
.about_section .about_container .about_stc_contact .abt_stc_cntct1 i,
.about_section .about_container .about_stc_contact .abt_stc_cntct2 i {
  font-size: 20px;
  color: #ffffff;
}
.about_section .about_container .about_stc_contact .abt_stc_cntct1 a,
.about_section .about_container .about_stc_contact .abt_stc_cntct2 a {
  border-bottom: 1px solid;
}
.about_section .about_container .about_stc_contact .abt_stc_cntct1 a:hover,
.about_section .about_container .about_stc_contact .abt_stc_cntct2 a:hover {
  color: #fff;
}
@media screen and (max-width: 314px) {
  .about_section .about_container .about_stc_contact .abt_stc_cntct1,
  .about_section .about_container .about_stc_contact .abt_stc_cntct2,
  .about_section .about_container .about_stc_contact i {
    font-size: 15px;
  }
}
@media screen and (max-width: 1260px) {
  .about_section .about_container .about_stc_contact .abt_stc_cntct1,
  .about_section .about_container .abt_stc_cntct2 {
    font-size: 15px;
  }
  .about_section .about_container .about_stc_contact .abt_stc_cntct1 i,
  .about_section .about_container .abt_stc_cntct2 i {
    font-size: 17px;
  }
}
@media screen and (max-width: 585px) {
  .about_section .about_container .about_stc_contact .abt_stc_cntct1,
  .about_section .about_container .abt_stc_cntct2 {
    display: block;
    padding: 5px 0;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  .about_section .about_container .about_stc_contact,
  .about_section .about_container .abt_stc_cntct1,
  .about_section .about_container .abt_stc_cntct2,
  .about_section .about_container i,
  .about_section .about_container a {
    font-size: 15px;
  }
}
@media screen and (max-width: 1217px) {
  .about_section .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  .about_section .about_container {
    text-align: start;
  }
}

.videos_section .videos_container .videos_title {
  font-size: 25px;
  padding: 25px 0 10px;
}
.videos_section .videos_container .border_ {
  border: 1px solid #424242;
  margin: 25px 0;
}
.videos_section .videos_container .videos_blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
}
.videos_section .videos_container .videos_blocks .video {
  margin: 15px;
  max-width: 396px;
}
.videos_section .videos_container .videos_blocks .video video {
  width: 100%;
}
.videos_section .videos_container .videos_blocks .videos_titles {
  padding: 10px;
}
@media screen and (max-width: 990px) {
  .videos_section .videos_container .videos_blocks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 630px) {
  .videos_section .videos_container .videos_blocks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

.skills_section .stc_skills_contianer .skills_title {
  font-size: 25px;
  padding: 25px 0 10px;
}
.skills_section .stc_skills_contianer .border_ {
  border: 1px solid #424242;
  margin-top: 25px;
}
.skills_section .stc_skills_contianer .skills_image {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.skills_section .stc_skills_contianer .skills_image img {
  width: 100%;
  position: relative;
}
.skills_section .stc_skills_contianer .skills_image h3 {
  position: absolute;
  z-index: 1;
  background: none;
  text-shadow: 0 0 7px #000;
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  .skills_section .stc_skills_contianer .skills_image h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 335px) {
  .skills_section .stc_skills_contianer .skills_image img {
    display: none;
  }
}
@media screen and (max-width: 281px) {
  .skills_section .stc_skills_contianer .skills_image h3 {
    font-size: 20px;
  }
}
.skills_section .stc_skills_contianer .video_montage_container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.skills_section .stc_skills_contianer .video_montage_container .video_montages_info {
  font-size: 16px;
  line-height: 24px;
  max-width: 500px;
  text-align: center;
}
@media screen and (max-width: 535px) {
  .skills_section .stc_skills_contianer .video_montage_container .video_montages_info {
    text-align: start;
  }
}
@media screen and (max-width: 405px) {
  .skills_section .stc_skills_contianer .video_montage_container .video_montages_info {
    font-size: 14px;
    line-height: 20px;
  }
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container {
  max-width: 500px;
  margin-top: 25px;
  position: relative;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container textarea {
  width: 100%;
  min-width: 500px;
  min-height: 100px;
  max-width: 500px;
  max-height: 150px;
  padding: 15px;
  font-size: 17px;
}
@media screen and (max-width: 511px) {
  .skills_section .stc_skills_contianer .video_montage_container .textarea_container textarea {
    min-width: 0;
  }
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container .text_limit {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  opacity: 0.7;
  background: none;
  font-size: 12px;
  border-radius: 10px 0 0 10px;
  cursor: context-menu;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container textarea::-webkit-input-placeholder {
  color: #a8a8a8;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container textarea::-moz-placeholder {
  color: #a8a8a8;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container textarea:-ms-input-placeholder {
  color: #a8a8a8;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container textarea::-ms-input-placeholder {
  color: #a8a8a8;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container textarea::placeholder {
  color: #a8a8a8;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container .textarea_submit {
  cursor: pointer;
  border: none;
  border: 1px solid #a3a3a3;
  padding: 4px 25px;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.skills_section .stc_skills_contianer .video_montage_container .textarea_container .textarea_submit:hover {
  background-color: #a3a3a3;
  color: #000;
}

.border_ {
  border: 1px solid #424242;
  margin-top: 25px;
}

.contact_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 75px;
}
.contact_section .contact_iamge_container {
  position: relative;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contact_section .contact_iamge_container img {
  width: 100%;
  border-radius: 20px;
}
.contact_section .contact_iamge_container h1 {
  position: absolute;
  top: 50%;
  background: none;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #000000;
  cursor: context-menu;
}
@media screen and (max-width: 332px) {
  .contact_section .contact_iamge_container h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 274px) {
  .contact_section .contact_iamge_container h1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .contact_section .contact_iamge_container {
    max-width: 500px;
  }
}
.contact_section .contact_input_container {
  margin-left: 20px;
  min-width: 500px;
  position: relative;
}
.contact_section .contact_input_container input:nth-child(1),
.contact_section .contact_input_container input:nth-child(2) {
  display: block;
  padding: 4px 10px;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  font-size: 15px;
  margin: 5px 0;
}
.contact_section .contact_input_container input:nth-child(1)::-webkit-input-placeholder,
.contact_section .contact_input_container input:nth-child(2)::-webkit-input-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container input:nth-child(1)::-moz-placeholder,
.contact_section .contact_input_container input:nth-child(2)::-moz-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container input:nth-child(1):-ms-input-placeholder,
.contact_section .contact_input_container input:nth-child(2):-ms-input-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container input:nth-child(1)::-ms-input-placeholder,
.contact_section .contact_input_container input:nth-child(2)::-ms-input-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container input:nth-child(1)::placeholder,
.contact_section .contact_input_container input:nth-child(2)::placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container .contact_textarea_container {
  position: relative;
}
.contact_section .contact_input_container .contact_textarea_container textarea {
  padding: 10px;
  width: 100%;
  max-width: 450px;
  max-height: 150px;
  min-width: 500px;
  min-height: 100px;
  margin-top: 15px;
  font-size: 17px;
}
@media screen and (max-width: 534px) {
  .contact_section .contact_input_container .contact_textarea_container textarea {
    min-width: 0;
    min-height: 0;
  }
}
.contact_section .contact_input_container .contact_textarea_container .text_limit2 {
  position: absolute;
  top: 10%;
  right: 0;
  color: #ffffff;
  opacity: 0.7;
  background: none;
  font-size: 12px;
  cursor: context-menu;
}
.contact_section .contact_input_container .contact_textarea_container textarea::-webkit-input-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container .contact_textarea_container textarea::-moz-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container .contact_textarea_container textarea:-ms-input-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container .contact_textarea_container textarea::-ms-input-placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container .contact_textarea_container textarea::placeholder {
  color: #a8a8a8;
}
.contact_section .contact_input_container input[type="submit"] {
  cursor: pointer;
  border: none;
  border: 1px solid #a3a3a3;
  padding: 4px 25px;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.contact_section .contact_input_container input[type="submit"]:hover {
  background-color: #a3a3a3;
  color: #000;
}
@media screen and (max-width: 532px) {
  .contact_section .contact_input_container {
    min-width: 100%;
  }
}

@media screen and (max-width: 868px) {
  .contact_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.ftr_up_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px solid #2b2b2b;
  position: relative;
}
.ftr_up_container .to_top_submit {
  position: absolute;
  top: 70%;
  left: 93%;
}
.ftr_up_container .to_top_submit .arrow_up_sbmt {
  color: #ffffff;
  font-size: 40px;
  padding: 10px 20px;
  background: none;
}
@media screen and (max-width: 1116px) {
  .ftr_up_container .to_top_submit {
    position: absolute;
    top: 70%;
    left: 87%;
  }
}
@media screen and (max-width: 639px) {
  .ftr_up_container .to_top_submit {
    position: absolute;
    top: 90%;
    left: 80%;
  }
}
@media screen and (max-width: 414px) {
  .ftr_up_container .to_top_submit {
    position: absolute;
    top: 65%;
    left: 80%;
  }
}
@media screen and (max-width: 385px) {
  .ftr_up_container .to_top_submit {
    position: absolute;
    top: 65%;
    left: 63%;
  }
}
.ftr_up_container .stc_logo_img img {
  width: 200px;
  border-radius: 50%;
}
@media screen and (max-width: 865px) {
  .ftr_up_container .stc_logo_img img {
    width: 150px;
  }
}
@media screen and (max-width: 640px) {
  .ftr_up_container .stc_logo_img {
    margin-bottom: 15px;
  }
}
.ftr_up_container .social_pages {
  width: 250px;
}
.ftr_up_container .social_pages .social_pages_title {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .ftr_up_container .social_pages {
    margin-bottom: 15px;
  }
}
.ftr_up_container .social_pages ul li {
  margin: 7px 0;
}
.ftr_up_container .social_pages ul li a {
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.ftr_up_container .social_pages ul li a:hover {
  color: #ffffff;
  margin-left: 10px;
}
.ftr_up_container .ftr_contact_contr {
  width: 250px;
}
.ftr_up_container .ftr_contact_contr .ftr_contact_title {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.ftr_up_container .ftr_contact_contr ul li {
  margin: 7px 0;
}
.ftr_up_container .ftr_contact_contr ul li a {
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.ftr_up_container .ftr_contact_contr ul li a:hover {
  color: #ffffff;
  margin-left: 10px;
}

@media screen and (max-width: 640px) {
  .ftr_up_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
.stc_website_reserved {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.stc_website_reserved p {
  font-size: 17px;
  letter-spacing: 1px;
  margin: 7px 0;
}

::-webkit-scrollbar {
  width: 11px;
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #adadad;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}
